body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(60, 56%, 91%);
}

/* Score Section */
#score {
    display:flex;
    font-family: Arial, sans-serif;
    background-color: #3C0010;
    border-radius: 20px;
    border: solid;
    border-color: black;
    max-width: 500px;
    overflow: hidden;
    height: 200px;
    margin: 20px;
}

#playerScore {
    width: 25%;
    background-color: #D1A170;
    text-align: center;
    font-size: 3rem;
}

#robotPick {
    width: 50%;
    background-color: #d2b79d;
    text-align: center;
    font-size: 3rem;
}

#robotScore {
    width: 25%;
    background-color: #D1A170;
    text-align: center;
    font-size: 3rem;
}

/* Game Section */
#game {
    font-family: Arial, sans-serif;
    background-color: #3C0010;
    border-radius: 20px;
    border: solid;
    border-color: black;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
    border: black;
    background-color: #800000;
    color: black;
}

#keys {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 25px;
}

button {
    width: 120px;
    height: 100px;
    border-radius: 40px;
    border: solid;
    border-color: black;
    background-color:#D1A170;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(30, 51%, 70%);
}

button:active {
    background-color: hsl(30, 51%, 80%);
}